* {
  box-sizing: border-box;
}
body,
html {
  margin: 0px;
  padding: 0px;
  font-family: "Microsoft JhengHei";
  font-size: 2vw;
}

.bg-img {
  background-image: url("/images/laptop.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  padding: 5vw;
}
.head {
  color: white;
  background-color: #cc1f00;
  padding: 10px;
  width: 30vw;
  margin-left: 2vw;
}

.formdata button {
  padding: 10px;
  /* font-size: 1vw; */
  border-radius: 10px;
  text-align: right;
  background-color: #cc9900;
  border-color: #775900;
}
#demo input {
  padding: 5px 5px;
  width: 30vw;
}
#demo label {
  padding: 20px 10px;
  width: 20vw;
  display: inline-block;
}
.btn {
  margin-right: 10vw;
}

#demo {
  color: white;
  background-color: #cc1f00;
  margin-left: 2vw;
  /* margin-right: 10vw; */
  position: absolute;
  padding: 2vw;
}
